<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            JavaScript
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/js-connaissance" routerLinkActive="active">Connaissance du langage</a>
            <a class="dropdown-item" href="/js-modelisation">Modelisation</a>
            <a class="dropdown-item" href="/js-problemes">Résolution de problèmes</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PHP
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/php-connaissance">Connaissance du langage</a>
            <a class="dropdown-item" href="/php-modelisation">Modelisation</a>
            <a class="dropdown-item" href="/php-problemes">Résolution de problèmes</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SQL
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/sql-connaissance">Connaissance du langage</a>
            <a class="dropdown-item" href="/sql-modelisation">Modelisation</a>
            <a class="dropdown-item" href="/sql-problemes">Résolution de problèmes</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/angularjs">AngularJS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/c-sharp">C#</a>
        </li>
    </ul>
  </div>
</nav>