
<div style="text-align:center">
    <img width="300" alt="Angular Logo" src="{{logo.img}}">
</div>
<h1>{{title}}</h1>

<div *ngFor="let question of questions">
    <div class="lead">
        <strong>
            {{question.number}} :
        </strong>
        <span [innerHTML]="question.question"></span>
    </div>
    <div *ngIf="question.answer_type == 'code'; else text_only">
      <p>
        <code>
          <span [innerHTML]="question.answer"></span>
        </code>
      </p>
    </div>
    <ng-template #text_only>
        <p class="lead"><strong>Réponse</strong> :<span [innerHTML]="question.answer"></span> </p>
    </ng-template>
</div>