<div class="row">
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
        <a href="/js-connaissance">
          <img class="card-img-top" src="{{logo_js.img}}" alt="card {{logo_js.alt}}">
        </a>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/js-connaissance" class="card-link">Connaissance du langage</a>
        </li>
        <li class="list-group-item">
          <a href="/js-connaissance" class="card-link">Modélisation</a>
        </li>
        <li class="list-group-item">
          <a href="/js-connaissance" class="card-link">Problèmes</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
        <a href="/php-connaissance">
          <img class="card-img-top" src="{{logo_php.img}}" alt="card {{logo_php.alt}}">
        </a>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/php-connaissance" class="card-link">Connaissance du langage</a>
        </li>
        <li class="list-group-item">
          <a href="/php-connaissance" class="card-link">Modélisation</a>
        </li>
        <li class="list-group-item">
          <a href="/php-connaissance" class="card-link">Problèmes</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
        <a href="/sql-connaissance">
          <img class="card-img-top" src="{{logo_sql.img}}" alt="card {{logo_sql.alt}}">
        </a>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/sql-connaissance" class="card-link">Connaissance du langage</a>
        </li>
        <li class="list-group-item">
          <a href="/sql-connaissance" class="card-link">Modélisation</a>
        </li>
        <li class="list-group-item">
          <a href="/sql-connaissance" class="card-link">Problèmes</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <a href="/angularjs">
        <img class="card-img-top" src="{{logo_angularjs.img}}" alt="card {{logo_angularjs.alt}}">
      </a>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/angularjs" class="card-link">Connaissance du langage</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
        <a href="/c-sharp">
          <img class="card-img-top" src="{{logo_csharp.img}}" alt="card {{logo_csharp.alt}}">
        </a>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/c-sharp" class="card-link">Connaissance du langage</a>
        </li>
      </ul>
    </div>
  </div>
</div>